//
// progress.scss
//

// Custom height

// Progress height small
.progress-sm {
    height: 5px;
}

// Progress height medium
.progress-md {
    height: 8px;
}

// Progress height large
.progress-lg {
    height: 12px;
}

// Progress height extra large
.progress-xl {
    height: 15px;
}

/* HTML: <div class="loader"></div> */

.loader-container
{
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 285px);
   flex-direction: column;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: rgb(23, 7, 92);
    animation: l2 1s infinite linear;
    height: 50px;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}
