//
// progress.scss
//

// Custom height

// Progress height small
.progress-sm {
    height: 5px;
}

// Progress height medium
.progress-md {
    height: 8px;
}

// Progress height large
.progress-lg {
    height: 12px;
}

// Progress height extra large
.progress-xl {
    height: 15px;
}

/* HTML: <div class="loader"></div> */

.loader-container
{
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 285px);
   flex-direction: column;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: rgb(23, 7, 92);
    animation: l2 1s infinite linear;
    height: 50px;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}

  .drag-field
  {
    font-size: 12px;
    padding: 8px;
    color: rgb(70, 70, 70);
    transition: 400ms ease-in-out;
    cursor: pointer;
    border-left: 2px solid rgb(255, 255, 255);
    font-family: poppins;
    font-weight: 600;
  }

  .drag-field:hover
  {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: rgb(23, 7, 92);
    border-left: 2px solid rgb(23, 7, 92);
  }
